!!! 5

html
    head
        meta(charset="utf-8")
        link(href="popup.css", rel="stylesheet")

    body
        div.statTitle Statistic
        div.statContainer
            table.statTable
                thead
                    tr
                        th Site
                        th Time
                        th Clicks
                tbody




        script(type="text/javascript", src="popup-script.js")
