!!! 5

html
    head
        meta(charset="utf-8")
        link(href="popup.css", rel="stylesheet")

    body
        div.statTitle Statistic
        div.statContainer




        script(type="text/javascript", src="runtime.js")
        script(type="text/javascript", src="popup-script.js")
        script(type="text/javascript", src="table.js")
